html {
  height: 50vh;
  width: 50%;
}

.cabecalho{
  margin-top: 2%;
  color: #9e194b;
  font-family: 'Serif', Georgia;
  border: 5px #0e0b0b outset;
  border-left: 100%;
  border-right: 100%;
  background-color: #dbb8b8;
  -webkit-box-shadow: 10px 10px 10px 2px rgba(0,0,0,1);
  -moz-box-shadow: 10px 10px 10px 2px rgba(0,0,0,1);
  box-shadow: 10px 10px 10px 2px rgba(0,0,0,1);
  border-radius: 100px;
  margin-left: 20%;
  margin-right: 20%;
}

body{
 
  height: 50vh;
  width: 150vh;
  background-image: url("/assets/BG_destaquesArtboard-1.png") ;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-color: #f63f0b;
  font-family: 'Serif', Georgia;
  font-size: 16px;
  text-align: center;
  margin-top: 2%;
  margin-right: 2%;
  margin-left: 30%;
  margin-bottom: 2%;
  padding: 20px;
}

h3{
  font-family: 'Serif', Georgia;
  text-align: center;
  justify-content: center;
  box-sizing: border-box;
}
.caixa{
  font-size: 20px;
  justify-content: center;
  background-attachment: fixed;
  margin: 25%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 20%;
  margin-right: 20%;
  border: 5px black outset;
  border-radius: 50px;
  background-color: #dbb8b8 ;  
  background-position: center;
  text-align: center ;
  padding: 30px;
 -webkit-box-shadow: 10px 10px 10px 2px rgba(0,0,0,1);
  -moz-box-shadow: 10px 10px 10px 2px rgba(0,0,0,1);
  box-shadow: 10px 10px 10px 2px rgba(0,0,0,1);
}

.caixa-input{
  jusify-content: center;
  background-attachment: fixed;
  margin:0%;
  margin-top: 1%;
  margin-bottom: 1%;
  border: 5px black inset;
  border-radius: 10px;
  background-color: #b89d9d ;  
  background-position: center;
  text-align: center ;
  padding: 30px;
}

 .btn{
   font-family: Koulen;
   font-weight: 0;
   font-size: 25px;
   color: #030202;
   background: linear-gradient(90deg, #e76f51 0%, #f4a261 100%);
   padding: 11px 30px;
   border: solid #e7e9eb 2px;
   box-shadow: rgb(0, 0, 0) 5px 8px 25px 5px;
   border-radius: 50px;
   transition : 1910ms;
   transform: translateY(0);
   flex-direction: row;
   cursor: pointer;
 }

 .btn:hover{
  transition : 1910ms;
  padding: 10px 50px;
  transform : translateY(-0px);
  background: linear-gradient(90deg, #e76f51 0%, #f4a261 100%);
  color: #0c0c0d;
  border: solid 2px #13161a;
 }

.container-resposta{
  background-attachment: fixed;
  margin:0%;
  margin-top: 1%;
  margin-bottom: 1%;
  border: 5px black inset;
  border-radius: 10px;
  background-color: #b89d9d ;  
  background-position: top;
  padding: 30px;
}

.resposta{
  font-family: 'Serif', Georgia;
  font-size: 20px;
  text-align: center;
  justify-content: center;
  box-sizing: border-box;
  color: black;
}

#logo{
  height: 50vh;
  widht: 80vh;
}

#curtidas{
   padding: 7px;
   font-size: 18px;
   border-width: 1px;
   border-color: #918f8f;
   background-color: #d6d0d0;
   color: #000000;
   border-style: inset;
   border-radius: 50px;
   box-shadow: 3px 1px 12px rgba(66,66,66,.70);
   text-shadow: 0px 0px 5px rgba(66,66,66,.75);
}
 #curtidas:focus {
     outline:none;
}

#comentarios{
   padding: 7px;
   font-size: 18px;
   border-width: 1px;
   border-color: #918f8f;
   background-color: #d6d0d0;
   color: #000000;
   border-style: inset;
   border-radius: 50px;
   box-shadow: 3px 1px 12px rgba(66,66,66,.70);
   text-shadow: 0px 0px 5px rgba(66,66,66,.75);
}
 #comentarios:focus {
     outline:none;
}

#compartilhamentos {
   padding: 7px;
   font-size: 18px;
   border-width: 1px;
   border-color: #918f8f;
   background-color: #d6d0d0;
   color: #000000;
   border-style: inset;
   border-radius: 50px;
   box-shadow: 3px 1px 12px rgba(66,66,66,.70);
   text-shadow: 0px 0px 5px rgba(66,66,66,.75);
}
#compartilhamentos{
     outline:none;
}

#salvos{
   padding: 7px;
   font-size: 18px;
   border-width: 1px;
   border-color: #918f8f;
   background-color: #d6d0d0;
   color: #000000;
   border-style: inset;
   border-radius: 50px;
   box-shadow: 3px 1px 12px rgba(66,66,66,.70);
   text-shadow: 0px 0px 5px rgba(66,66,66,.75);
}
#salvos:focus {
   outline:none;
}

#seguidores{
   padding: 7px;
   font-size: 18px;
   border-width: 1px;
   border-color: #918f8f;
   background-color: #d6d0d0;
   color: #000000;
   border-style: inset;
   border-radius: 50px;
   box-shadow: 3px 1px 12px rgba(66,66,66,.70);
   text-shadow: 0px 0px 5px rgba(66,66,66,.75);
}
 #seguidores:focus {
   outline:none;
}


.social-media{
  margin-top: 2%;
  color: #9e194b;
  font-family: 'Serif', Georgia;
  border: 5px #0e0b0b outset;
  border-left: 100%;
  border-right: 100%;
  background-color: #dbb8b8;
  -webkit-box-shadow: 10px 10px 10px 2px rgba(0,0,0,1);
  -moz-box-shadow: 10px 10px 10px 2px rgba(0,0,0,1);
  box-shadow: 10px 10px 10px 2px rgba(0,0,0,1);
  border-radius: 100px;
  margin-left: 20%;
  margin-right: 20%;
}

#linkedin{
  margin-left: 10px;
  margin-bottom: 6px;}

#facebook{
  margin-left: 10px;
  margin-bottom: 5px;
}

#instagram{
  margin-bottom: 7px;
}
